/* Hapus @tailwind base; @tailwind components; @tailwind utilities; */
@import "tailwindcss"; 

@layer base {
  body {
    font-family: 'VT323', monospace;
    @apply bg-[#f4f0cb] text-black transition-colors duration-300;
    font-size: 1.25rem;
  }

  /* Dukungan Dark Mode Otomatis */
  @media (prefers-color-scheme: dark) {
    body {
      @apply bg-[#1a1a2e] text-[#4dff4d];
    }
  }
}

/* Utilitas kustom */
.retro-btn:active {
  transform: translate(4px, 4px);
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,1);
}